---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "member-box",
        "timeline",
        "page",
        "icons"
;

#contact-bubble{position:fixed;z-index:10;background-color:#fff;border-radius:20px;overflow:hidden;cursor:pointer;transition-duration:.3s;box-shadow:0 5px 10px 0 rgba(0,0,0,.1)}@media screen and (max-width:899px){#contact-bubble{right:20px;bottom:20px}}@media screen and (min-width:900px){#contact-bubble{right:40px;bottom:40px}}#contact-bubble:hover{box-shadow:0 2px 4px 0 rgba(0,0,0,.2);transform:scale(.995)}#contact-bubble:active{box-shadow:0 2px 4px 0 rgba(0,0,0,.1);transform:scale(.99)}#contact-bubble.close{height:40px;width:40px}#contact-bubble.close>.content-in-open,#contact-bubble.open>.content-in-close{display:none}#contact-bubble.open{height:300px;width:220px}#contact-bubble>.content-in-close img{width:40px}#contact-bubble>.content-in-open{padding:20px;text-align:center}#contact-bubble>.content-in-open .close{text-align:left;line-height:1;font-size:14px}#contact-bubble>.content-in-open .title{margin-top:10px;font-size:20px;line-height:1;color:#333}#contact-bubble>.content-in-open .subtitle{margin-top:6px;line-height:1;font-size:14px;color:#6c6c6c}#contact-bubble>.content-in-open .qrcode{margin-top:20px}#contact-bubble>.content-in-open .qrcode img{width:180px}